{% extends "index.html" %}

{% block main_content %}

{{ macros_page_header::page_header(title="Tags") }}

<div class="tags">
    <ul class="list-with-title">
        {% for term in terms -%}
        <li>
            <h2 class="listing-title"><a href="#{{ term.name }}">{{ term.name }}</a></h2>
            <ul class="listing">
                {% for page in term.pages -%}
                <li class="listing-item">
                    <a href="{{ page.permalink }}" title="{{ page.title }}">{{ page.title }}</a>
                    <div class="post-time">
                        <span class="date">
                            {{ macros_format_date::format_date(date=page.date) }}
                        </span>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
        </li>
    </ul>
</div>

{% endblock main_content %}
