{% extends "index.html" %}

{% block main_content %}

{#- Feed icon -#}
{%- set generate_feed = feed_utils::get_generate_feed() -%}
{%- set feed_url = feed_utils::get_feed_url() -%}
{%- set feed_pre_conditions = generate_feed and feed_url and taxonomy.feed -%}
{%- set show_feed_icon = feed_pre_conditions and term.pages | filter(attribute="date") -%}

{{ macros_page_header::page_header(title=term.name, show_feed_icon=show_feed_icon) }}

{% set max = section.extra.max_posts | default(value=999999) %}
{{ macros_list_posts::list_posts(posts=term.pages, max=max, language_strings=language_strings) }}

<ul class="pagination">
    <li class="page-item">
        <a class="all-tags" href="{{ get_url(path="tags", lang=lang) }}/"><span class="arrow">←</span>&nbsp;{{- macros_translate::translate(key="all_tags", default="All tags", language_strings=language_strings) -}}</a>
    </li>
</ul>

{% endblock main_content %}
