{% extends "index.html" %}

{% block main_content %}

{#- Feed icon -#}
{#- Zola 0.19.0 uses `generate_feeds` and `feed_filenames`. Prior versions use `generate_feed` and `feed_filename` -#}
{%- set generate_feed = config.generate_feeds | default(value=config.generate_feed) -%}
{%- set feed_url = config.feed_filenames[0] | default(value=(config.feed_filename)) -%}
{%- set feed_pre_conditions = generate_feed and feed_url and taxonomy.feed -%}
{%- set show_feed_icon = feed_pre_conditions and term.pages | filter(attribute="date") | length > 0 -%}

{{ macros_page_header::page_header(title=term.name, show_feed_icon=show_feed_icon) }}

{% set max = section.extra.max_posts | default(value=999999) %}
{{ macros_list_posts::list_posts(posts=term.pages, max=max, language_strings=language_strings) }}

<ul class="pagination">
    <li class="page-item">
        <a class="all-tags" href="{{ get_url(path="tags", lang=lang) }}/"><span class="arrow">←</span>&nbsp;{{- macros_translate::translate(key="all_tags", default="All tags", language_strings=language_strings) -}}</a>
    </li>
</ul>

{% endblock main_content %}
