{% extends "index.html" %}

{% block main_content %}

{#- Feed icon -#}
{%- set generate_feed = config.generate_feeds -%}
{%- set feed_url = config.feed_filenames[0] -%}
{%- set feed_pre_conditions = generate_feed and feed_url and taxonomy.feed -%}
{%- set show_feed_icon = feed_pre_conditions and [page for page in term.pages if page.date] | length > 0 -%}

{{< page_header title={term.name} show_feed_icon={show_feed_icon} />}}

{% set max = section?.extra?.max_posts | default(value=999999) %}
{{< list_posts posts={term.pages} max={max} />}}

<ul class="pagination">
    <li class="page-item">
        <a class="all-tags" href="{{ get_url(path="tags", lang=lang) }}/"><span class="arrow">←</span>&nbsp;{{< translate key="all_tags" default="All tags" />}}</a>
    </li>
</ul>

{% endblock main_content %}
