{% if section?.extra?.projects_path %}
    {%- set projects_section = get_section(path=section?.extra?.projects_path) -%}
    {%- if projects_section -%}
        <div id="featured-projects" class="list">
            {%- set featured_projects_title = language_strings["featured_projects"] | default(value="Featured projects") -%}
            {{< page_header title={featured_projects_title} />}}
        </div>
        {%- set show_pages = projects_section.pages -%}
        {%- set max_projects = section?.extra?.max_projects | default(value=3) -%}
        {%- include "partials/cards_pages.html" -%}
    {%- endif -%}
    {%- if show_pages | length > max_projects -%}
        <div class="all-posts" id="all-projects">
            <a href="{{ get_url(path=projects_section.path, lang=lang) }}/">{{< translate key="all_projects" default="All projects" />}}&nbsp;<span class="arrow">⟶</span></a>
        </div>
    {%- endif -%}
{% endif %}
