<header>
    <nav class="navbar">
        <div class="nav-title">
            <a class="home-title" href={{ config.base_url }}>{{ config.title }}</a>
        </div>

        {%- if config.extra.menu %}
            <div class="nav-navs">
                <div>
                    {% for menu in config.extra.menu %}
                    <a class="nav-links no-hover-padding" href={{ menu.url | safe | replace(from="$BASE_URL" , to=config.base_url) }}>{{ menu.name
                        }}</a>
                    {% endfor %}
                </div>
                {%- if config.extra.theme_switcher == true -%}
                <label class="theme-switcher" for="themeswitch">
                    <input type="checkbox" id="themeswitch">
                    <div class="switch">
                        <img alt="set dark theme" class="moon" src="{{ config.base_url }}/menu_icon/moon.svg">
                        <img alt="set light theme" class="sun" src="{{ config.base_url }}/menu_icon/sun.svg">
                    </div>
                {%- endif -%}
                </label>
            </div>
        {% endif %}

    </nav>
</header>
