{% if paginator and paginator.number_pagers > 1 %}
    <ul class="pagination">
        {% if paginator.previous %}
            <li class="page-item page-prev">
                <a href="{{ paginator.previous }}" class="page-link" aria-label="{{< translate key="prev" default="Prev" />}}"><span class="arrow">←</span> {{< translate key="prev" default="Prev" />}}</a>
            </li>
        {% else %}
            <li class="page-item page-prev">
                <span class="page-link disabled" aria-disabled="true" aria-label="{{< translate key="prev" default="Prev" />}} (disabled)"><span class="arrow">←</span> {{< translate key="prev" default="Prev" />}}</span>
            </li>
        {% endif %}

        <li class="page-item page-numbers">
            {{ paginator.current_index }} {{< translate key="of" default="of" />}} {{ paginator.number_pagers }}
        </li>

        {% if paginator.next %}
            <li class="page-item page-next">
                <a href="{{ paginator.next }}" class="page-link" aria-label="{{< translate key="next" default="Next" />}}">{{< translate key="next" default="Next" />}} <span class="arrow">→</span></a>
            </li>
        {% else %}
            <li class="page-item page-next">
                <span class="page-link disabled" aria-disabled="true" aria-label="{{< translate key="next" default="Next" />}} (disabled)">{{< translate key="next" default="Next" />}} <span class="arrow">→</span></span>
            </li>
        {% endif %}
    </ul>
{% endif %}
