{% if paginator and paginator.number_pagers > 1 %}
    <ul class="pagination">
        {% if paginator.previous %}
            <li class="page-item page-prev">
                <a href="{{ paginator.previous }}" class="page-link" aria-label="{{ macros_translate::translate(key="prev", default="Prev", language_strings=language_strings) }}"><span class="arrow">←</span> {{ macros_translate::translate(key="prev", default="Prev", language_strings=language_strings) }}</a>
            </li>
        {% else %}
            <li class="page-item page-prev">
                <span class="page-link disabled" aria-disabled="true" aria-label="{{ macros_translate::translate(key="prev", default="Prev", language_strings=language_strings) }} (disabled)"><span class="arrow">←</span> {{ macros_translate::translate(key="prev", default="Prev", language_strings=language_strings) }}</span>
            </li>
        {% endif %}

        <li class="page-item page-numbers">
            {{ paginator.current_index }} {{ macros_translate::translate(key="of", default="of", language_strings=language_strings) }} {{ paginator.number_pagers }}
        </li>

        {% if paginator.next %}
            <li class="page-item page-next">
                <a href="{{ paginator.next }}" class="page-link" aria-label="{{ macros_translate::translate(key="next", default="Next", language_strings=language_strings) }}">{{ macros_translate::translate(key="next", default="Next", language_strings=language_strings) }} <span class="arrow">→</span></a>
            </li>
        {% else %}
            <li class="page-item page-next">
                <span class="page-link disabled" aria-disabled="true" aria-label="{{ macros_translate::translate(key="next", default="Next", language_strings=language_strings) }} (disabled)">{{ macros_translate::translate(key="next", default="Next", language_strings=language_strings) }} <span class="arrow">→</span></span>
            </li>
        {% endif %}
    </ul>
{% endif %}
