.archive {
    margin-top: 4vmin;

    .listing-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .listing-item {
        padding: 0.2rem 1rem;
        margin-bottom: 0.5rem;
        display: flex;
        gap: 1rem;

        .post-time {
            min-width: 5rem;
            text-align: left;
            padding-left: 1vmin;

            .date {
                color: var(--meta-color);
                white-space: nowrap;
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        margin-bottom: 1.3rem;
    }
}
