.archive {
    .listing-title {
        font-size: 1.5rem;
        margin-bottom: 1rem;
    }

    .listing-item {
        padding: 0.2rem 1rem;
        display: flex;
        gap: 1rem;

        .post-time {
            width: 4rem;

            .date {
                color: var(--meta-color);
            }
        }
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }
}
