.cards {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 24px;
    margin-top: 4vmin;
    padding: 12px 0;
}

.card {
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    border-radius: 5px;
    background: var(--bg-2);
    min-height: 100px;
    overflow: hidden;
}

.card-info {
    padding: 0 24px 24px 24px;
}

.card-title {
    margin-top: 0.7em;
}

.card-image {
    border: unset;
    width: 100%;
}

.card-image-placeholder {
    width: 100%;
    height: 12px;
}

.card-description {
    margin-top: 0.5em;
    overflow: hidden;
}

@media all and (max-width: 720px) {
    .cards {
        gap: 18px;
    }
}
