code {
    background-color: var(--bg-1);
    padding: 0.1em 0.2em;
    font-family: var(--code-font);
    font-size: 0.9em;
}

pre {
    line-height: 1.4;
    overflow-x: auto;
    padding: 2rem 1rem 1rem;
    position: relative;
    -webkit-overflow-scrolling: touch;
    border-radius: 5px;
}

pre code {
    background-color: transparent;
    color: inherit;
    padding: 0;
    border: 0;
    border-radius: 4px;
}

pre code[class*="language-"] {
    -webkit-overflow-scrolling: touch;
}

pre code[class*="language-"]::before {
    content: attr(data-lang);
    display: block;
    background-color: var(--primary-color);
    color: var(--hover-color);
    padding: 0.2rem;
    padding-left: 1rem;
    font-family: var(--code-font);
    width: 100%;
    font-size: 0.65rem;
    width: 100%;
    position: absolute;
    text-align: left;
    text-transform: uppercase;
    top: 0;
    left: 0;
}
