.utterances-frame {
    width: 100%;
}

.comments {
    border-top: var(--divider-color) solid 0.5px;
    margin-top: 2rem;
    padding-top: 2rem;
    padding-bottom: 2rem;

    iframe {
        border: none;
        width: 100%;
        margin: 0;
        max-width: 100%;
        aspect-ratio: inherit;
    }
}
