header {
  width: 100%;
  .main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 12px;
    font-size: 1.5rem;
    /* Otherwise header and menu is too close on small screens*/
    margin-bottom: 10px;
  }
}

.page-header {
  font-size: 3em;
  line-height: 100%;
  font-family: var(--header-font);
  margin: 4rem 0px 1rem 0px;
}

.centered-header {
  font-family: var(--header-font);
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1em;
}

.navbar {
  max-width: var(--max-layout-width);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 1em 24px;
  margin: 0 auto;
}

.nav-navs {
  display: flex;
  gap: 5px;
  img {
    border: none;
  }
}

.nav-links {
  font-size: 1em;
  font-weight: 340;
  text-decoration: none;
  justify-content: right;
  color: var(--text-color);
  padding: 0.66rem;
  transition: 100ms;
}

.home-title {
  font-size: 1.7em;
  font-weight: 450;
  padding-right: 0.33rem;
  border: none;
  color: var(--accent-color);
  text-decoration: none;
}

.meta {
  color: var(--meta-color);
  letter-spacing: -0.5px;
  font-size: 0.8rem;
  font-weight: 300;
  padding: 0;
  padding-top: 0.7vmin;
  padding-bottom: 3vmin;
  line-height: 1.4rem;
}

.meta a {
  color: var(--meta-color);
  text-decoration-color: none;
  font-weight: inherit;
  text-decoration: none;
}

.meta ul, li{
  list-style-type: none;
  display: inline;
}

.card-meta {
  color: var(--meta-color);
  font-size: 0.92rem;
}

@media only screen and (max-width: 1000px) {
  .navbar {
    max-width: var(--normal-layout-width);
  }

  .nav-navs {
    display: flex;
    justify-content: flex-end;
  }
}

@media only screen and (max-width: 600px) {
  .nav-title {
    margin: 0;
  }

  .navbar {
    max-width: var(--medium-layout-width);
  }
}

@media only screen and (max-width: 300px) {
  .navbar {
    max-width: var(--small-layout-width);
  }
}
