header {
    width: 100%;
    font-family: 'Inter Subset', var(--sans-serif-font);
} 

.page-header {
    margin: 4rem 0px 1rem 0px;
    font-size: 3em;
    line-height: 100%;
    font-family: var(--header-font);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 1em 0;
    max-width: var(--max-layout-width);
}

.nav-navs {
    display: flex;
    flex-wrap: wrap;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.nav-links {
    justify-content: right;
    padding: 0.66rem;
    color: var(--text-color);
    font-weight: 340;
    font-size: 1em;
    line-height: 2.5;
    text-decoration: none;
}

.home-title {
    margin-left: -0.12rem;
    border: none;
    padding: 0.12rem;
    color: var(--primary-color);
    font-weight: 450;
    font-size: 1.7em;
    text-decoration: none;
}

.meta {
    padding: 0;
    padding-top: 0.7vmin;
    padding-bottom: 3vmin;
    color: var(--meta-color);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: -0.4px;

    a {
        color: var(--meta-color);
        font-weight: inherit;
        text-decoration: none;
        text-decoration-color: none;
    }

    ul,
    li {
        display: inline;
        font-family: var(--sans-serif-font);
        list-style-type: none;
    }
}

.language-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}

.language-switcher-icon {
    -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 96 960 960'><path d='M480 976q-84 0-157-31.5T196 859q-54-54-85-127.5T80 574q0-84 31-156.5T196 291q54-54 127-84.5T480 176q84 0 157 30.5T764 291q54 54 85 126.5T880 574q0 84-31 157.5T764 859q-54 54-127 85.5T480 976Zm0-58q35-36 58.5-82.5T577 725H384q14 60 37.5 108t58.5 85Zm-85-12q-25-38-43-82t-30-99H172q38 71 88 111.5T395 906Zm171-1q72-23 129.5-69T788 725H639q-13 54-30.5 98T566 905ZM152 665h159q-3-27-3.5-48.5T307 574q0-25 1-44.5t4-43.5H152q-7 24-9.5 43t-2.5 45q0 26 2.5 46.5T152 665Zm221 0h215q4-31 5-50.5t1-40.5q0-20-1-38.5t-5-49.5H373q-4 31-5 49.5t-1 38.5q0 21 1 40.5t5 50.5Zm275 0h160q7-24 9.5-44.5T820 574q0-26-2.5-45t-9.5-43H649q3 35 4 53.5t1 34.5q0 22-1.5 41.5T648 665Zm-10-239h150q-33-69-90.5-115T565 246q25 37 42.5 80T638 426Zm-254 0h194q-11-53-37-102.5T480 236q-32 27-54 71t-42 119Zm-212 0h151q11-54 28-96.5t43-82.5q-75 19-131 64t-91 115Z'/%3E%3C/svg%3E%0A");
    position: relative;
    align-self: center;
    cursor: pointer;
    background: var(--text-color);
    width: 1.2rem;
    height: 1.2rem;
}

.dropdown {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 0.8rem;
}

.dropdown-content {
    display: none;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    background: var(--background-color);
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    text-align: center;
    white-space: nowrap;

    a {
        display: block;
    }
}

.dropdown:hover .dropdown-content {
    display: block;
}

@media only screen and (max-width: 1000px) {
    .navbar {
        max-width: var(--normal-layout-width);
    }

    .nav-navs {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    .nav-navs {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.8rem;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 300px) {
    .navbar {
        max-width: var(--small-layout-width);
    }
}
