header {
    width: 100%;
    font-family: 'Inter Subset', var(--sans-serif-font);
}

.page-header {
    margin-block: 4rem 1rem;
    font-size: 3em;
    line-height: 100%;
    font-family: var(--header-font);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-block: 1em;
    max-width: var(--max-layout-width);
}

.nav-navs {
    display: flex;
    flex-wrap: wrap;

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        gap: 1px;
        margin: 0;
        padding: 0;
        list-style: none;
    }
}

.nav-links {
    justify-content: right;
    padding: 0.66rem;
    color: var(--text-color);
    font-weight: 340;
    font-size: 1em;
    line-height: 2.5;
    text-decoration: none;
}

.home-title {
    margin-inline-start: -0.12rem;
    border: none;
    padding: 0.12rem;
    color: var(--primary-color);
    font-weight: 450;
    font-size: 1.7em;
    text-decoration: none;
}

.meta {
    padding: 0;
    padding-top: 0.7vmin;
    padding-bottom: 3vmin;
    color: var(--meta-color);
    font-weight: 300;
    font-size: 0.8rem;
    line-height: 1.4rem;
    letter-spacing: -0.4px;

    a {
        color: var(--meta-color);
        font-weight: inherit;
        text-decoration: none;
        text-decoration-color: none;
    }

    ul,
    li {
        display: inline;
        font-family: var(--sans-serif-font);
        list-style-type: none;
    }
}
.language-switcher {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline-start: 0.5rem;
    margin-inline-end: 0.5rem;

    .language-switcher-icon {
        -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='none' stroke='%23000' stroke-width='1.8' d='M1 12a11 11 90 0 0 22 0 11 11 90 0 0-22 0m1-4h20M2 16h20M11 1a21 21 90 0 0 0 22m2-22a21 21 90 0 1 0 22'/%3E%3C/svg%3E%0A");
        position: relative;
        align-self: center;
        cursor: pointer;
        background: var(--text-color);
        width: 1rem;
        height: 1rem;

        &:hover {
            background: var(--meta-color);
        }
    }
}

.dropdown {
    display: inline-block;
    position: relative;
    z-index: 1;
    font-size: 0.8rem;

    &:hover .dropdown-content,
    &:focus-within .dropdown-content {
        display: block;
    }

    summary {
        list-style: none;

        &::-webkit-details-marker {
            display: none;
        }
    }

    .dropdown-content {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        z-index: 1;
        background: var(--background-color);
        padding-inline-start: 0.5rem;
        padding-inline-end: 0.5rem;
        text-align: center;
        white-space: nowrap;

        a {
            display: block;
        }
    }
}

@media only screen and (max-width: 1000px) {
    .navbar {
        max-width: var(--normal-layout-width);
    }

    .nav-navs {
        display: flex;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 600px) {
    .nav-navs {
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 0.8rem;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (max-width: 300px) {
    .navbar {
        max-width: var(--small-layout-width);
    }
}
