figure {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    max-width: 100%;
    height: auto;
}

figcaption {
    font-family: var(--serif-font);
    font-size: 0.72rem;
    color: var(--meta-color);
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

figure h4 {
    font-size: 1rem;
    margin: 0;
    margin-bottom: 1em;
}

figure h4::before {
    content: "↳ ";
}

.img-dark {
    display: none;
}

[data-theme="dark"] {
    .img-dark {
        display: block;
    }

    .img-light {
        display: none;
    }
}
