#micro-posts {
    margin-top: 4rem;
}

.micro-list {
    .micro-entry {
        border-bottom: 0.5px solid var(--divider-color);
        padding: 1.3rem 0;

        &:last-child {
            border-bottom: none;
        }
    }

    .micro-date {
        display: inline-block;
        transition: color 0.15s;
        color: var(--meta-color);
        font-weight: 300;
        font-size: 0.85rem;
        text-decoration: none;

        &:hover {
            background-color: transparent;
            color: var(--primary-color);
        }
    }

    .micro-meta {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-bottom: 0.35rem;

        .iine-button {
            color: var(--meta-color);
            font-size: 0.85rem;
        }
    }

    .micro-text {
        color: var(--text-color);
        font-weight: 350;
        font-size: 0.95rem;
        line-height: 1.6;

        p {
            margin: 0.5rem 0 1rem;

            &:first-child {
                margin-top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 1100px) {
    #micro-posts {
        margin-top: 3rem;
    }
}
