.draft-label {
    color: var(--hover-color);
    text-decoration: none;
    padding: 2px 4px;
    margin-left: 6px;
    background-color: var(--primary-color);
}

.article-title {
    color: var(--text-color-high-contrast);
    display: block;
    font-size: 2rem;
    font-weight: 550;
    line-height: 3rem;
}

iframe {
    border: none;
    display: block;
    aspect-ratio: 16/9;
    width: 100vmin;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3vmin;
}

ul {
    margin-top: 0;
}

.toc-container {
    margin-bottom: 4vmin;
}

.padding-top {
    padding-top: 4vmin;
}

.title-container {
    padding-bottom: 15px;
}

.bottom-divider {
    border-bottom: var(--divider-color) solid 0.5px;
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--hover-color);
    text-shadow: none;
}

::selection {
    background: var(--primary-color);
    color: var(--hover-color);
}

.nav.tags {
    display: inline-block;
}

p {
    line-height: 1.5;
}

hr {
    border: 0;
    border-top: 3px solid var(--border-color);
    margin: 1em 0;
}

blockquote {
    border-left: 0.2rem solid var(--primary-color);
    color: var(--quote-color);
    margin: 0;
    padding-left: 1em;
}

a {
    color: var(--primary-color);
    text-decoration: inherit;
    font-weight: inherit;
    position: relative;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

a:not(.no-hover-padding)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.15em;
    right: -0.15em;
    z-index: -1;
    background-color: var(--primary-color);
    opacity: 0;
}

a:not(.no-hover-padding):hover::before {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .list > ul {
        margin: 0;
        padding: 0;
    }
}

.footnote-reference {
    font-family: var(--serif-font);
    font-size: 0.7rem;
}

.footnote-definition {
    margin-top: 3.5rem;
    border-top: 1px solid var(--border-color);
    padding-top: 1rem;

    sup {
        font-family: var(--serif-font);
        font-size: 0.75rem;
        margin-right: 0.15rem;
    }

    p {
        display: inline;
    }
}

.references p {
    text-indent: -2.4rem;
    margin-left: 2.4rem;
}

.info-box {
    border: 1px solid #087E96;
    border-left-width: 0.3rem;
    background-color: #d1f3f8;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-align: center;
}

#button-container {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    #comments-button, #top-button {
        background-color: var(--bg-1);
        padding: 0.4rem;
        height: 1rem;
        width: 1rem;
        text-align: center;
        border-radius: 50%;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            background-color: var(--bg-3);

            svg {
                fill: var(--primary-color);
            }

            &::before {
            background-color: transparent;
            }
        }

        svg {
            width: 1rem;
            height: 1rem;
            fill: var(--text-color);
        }
    }

    @media (max-width: 700px) {
        #comments-button, #top-button {
            display: none;
        }
    }
}
