.draft-label {
    color: var(--hover-color);
    background-color: var(--primary-color);
    padding: 2px 4px;
    margin-right: 0.3rem;
}

.article-title {
    color: var(--text-color-high-contrast);
    display: block;
    font-size: 2rem;
    font-weight: 550;
    line-height: 3rem;
}

iframe {
    border: none;
    display: block;
    aspect-ratio: 16/9;
    width: 100vmin;
    max-width: 70%;
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 3vmin;
}

ul {
    margin-top: 0;
}

.toc-container {
    margin-bottom: 4vmin;
}

.padding-top {
    padding-top: 4vmin;
}

.title-container {
    padding-bottom: 15px;
}

.bottom-divider {
    border-bottom: var(--divider-color) solid 0.5px;
}

::-moz-selection {
    background: var(--primary-color);
    color: var(--hover-color);
    text-shadow: none;
}

::selection {
    background: var(--primary-color);
    color: var(--hover-color);
}

.nav.tags {
    display: inline-block;
}

blockquote {
    border-left: 0.3rem solid var(--primary-color);
    margin: 0;
    padding-left: 1em;
}

a {
    color: var(--primary-color);
    text-decoration: inherit;
    font-weight: inherit;
    position: relative;
}

a:hover {
    background-color: var(--primary-color);
    color: var(--hover-color);
}

a:not(.no-hover-padding)::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -0.15em;
    right: -0.15em;
    z-index: -1;
    background-color: var(--primary-color);
    opacity: 0;
}

a:not(.no-hover-padding):hover::before {
    opacity: 1;
}

@media screen and (max-width: 600px) {
    .list > ul {
        margin: 0;
        padding: 0;
    }
}

hr {
    border: none;
    height: 1px;
    background-color: var(--divider-color);
    margin: 3.5rem 0 1rem;
}

.footnote-reference {
    font-family: var(--serif-font);
    font-size: 0.7rem;
}

.footnote-definition {
    margin-bottom: 0.6rem;

    sup {
        font-family: var(--serif-font);
        font-size: 0.75rem;
        margin-right: 0.15rem;
    }

    p {
        display: inline;
    }
}

.footnote-backlink {
    font-size: 0.8rem;
    margin-left: 0.2rem;
}

.references p {
    text-indent: -2.4rem;
    margin-left: 2.4rem;
}

.info-box {
    border: 1px solid var(--primary-color);
    border-left-width: 0.3rem;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-align: center;
}
