.primary-color {
  color: var(--primary-color);
}

.draft-label {
  color: var(--hover-color);
  text-decoration: none;
  padding: 2px 4px;
  margin-left: 6px;
  background-color: var(--primary-color);
}

.article-title {
  padding-bottom: 1.2vmin;
  display: block;
  font-size: 2.2em;
  margin-top: 0.67em;
  margin-bottom: 0em;
  margin-left: 0;
  margin-right: 0;
  font-weight: 550;
}

.title-container {
  border-bottom: var(--secondary-color) solid 0.5px;
  padding-bottom: 15px;
}

::-moz-selection {
  background: var(--primary-color);
  color: var(--hover-color);
  text-shadow: none;
}

::selection {
  background: var(--primary-color);
  color: var(--hover-color);
}

.nav.tags {
  display: inline-block;
}

p {
  line-height: 1.5;
}

hr {
  border: 0;
  border-top: 3px solid var(--border-color);
  margin: 1em 0;
}

blockquote {
  border-left: 0.2rem solid var(--accent-color);
  color: var(--quote-color);
  margin: 0;
  padding-left: 1em;
}

a {
  color: var(--text-color);
  text-decoration-color: var(--links);
  font-weight: 580;
}

p a {
  color: var(--accent-color);
  text-decoration: inherit;
  font-weight: inherit;
}

a:hover {
  background-color: var(--primary-color);
  color: var(--hover-color);
}
/* Remove post list padding */
@media screen and (max-width: 600px) {
  .list > ul {
    margin: 0;
    padding: 0;
  }
}

table {
  justify-self: center;
  font: inherit;
  overflow: hidden;
  border-style : hidden!important;
  margin: 2rem 0;
  font-family: sans-serif;
  min-width: 400px;
  border-radius: 0.8rem;
  border: none;
  margin-left: auto;
  margin-right: auto;
  min-width: 13rem;
}

table thead tr {
  background-color: var(--table-header-color);
  color: #1f1f1f;
  text-align: left;
}

table th,
table td {
    padding: 0.5em 0.7em;
    font-family: 'Source Serif Pro', serif;
}

table tbody tr:nth-child(even) {
  background-color: var(--bg-0);
}
