.pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    font-size: 1em;
    list-style: none;
    padding: 0;

    .page-item .disabled {
        opacity: 0.5;
        pointer-events: none;
    }

    .page-numbers {
        font-size: 0.9rem;
        color: var(--meta-color);
    }
}
