.bloglist-container {
    display: grid;
    grid-template-columns: 1fr;
}

.bloglist-row {
    display: flex;
    align-items: flex-start;
    background-color: var(--navbar-color);
    padding: 2.5rem 0;

    .bloglist-meta {
        padding: 0;
        width: 13.5rem;
        color: var(--meta-color);
        font-weight: 300;
        font-size: 0.9rem;

        li {
            list-style-type: none;
        }

        li.draft-label {
            width: fit-content;
            line-height: 1.2rem;
        }
    }

    .bloglist-tags {
        margin-top: 0.1rem;

        .tag {
            display: inline-block;
            margin-right: 0.7rem;
            font-weight: 400;
            font-size: 0.75rem;
            text-transform: uppercase;
        }
    }

    .bloglist-content {
        flex: 1;


        .bloglist-title {
            margin: 0;
            font-weight: bold;
            font-size: 1.2em;

            a {
                color: var(--text-color-high-contrast);
                font-weight: 550;

                &:hover {
                    color: var(--hover-color);
                }
            }
        }

        .description p {
            margin: 0.5rem 0 1rem;
            color: var(--text-color);
            font-weight: 250;
            font-size: 0.9rem;
            line-height: 1.5rem;
        }
    }
}

.all-posts {
    font-weight: 350;
    font-size: 1.3rem;
}

@media only screen and (max-width: 1100px) {
    .bloglist-row {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem 0;

        .bloglist-meta {
            margin-bottom: 0;
            width: 100%;

            li {
                display: inline;
                margin-right: 0.3rem;
            }
        }

        .bloglist-content {
            width: 100%;
        }
    }
}
