table {
    border-spacing: 0;
    border-collapse: collapse;
    text-align: center;
    font: inherit;
    overflow: hidden;
    border-style: hidden !important;
    margin: 1rem auto;
    border-radius: 5px;

    th,
    td {
        padding: 6px 13px;
        border: 1px solid var(--bg-1);
        font-size: large;
    }

    thead tr {
        background-color: var(--primary-color);
        color: var(--hover-color);
    }

    tbody {
        tr:nth-child(even) {
            background-color: var(--bg-0);
        }
    }

    details,
    summary {
        font-family: inherit !important;
    }
}
