.theme-switcher {
    -webkit-mask: var(--theme-switcher-svg);
    position: relative;
    align-self: center;
    cursor: pointer;
    margin-left: 0.5rem;
    background: var(--text-color);
    width: 1rem;
    height: 1rem;
}
