#webmentions {
  margin: 0;
  position: relative;
  z-index: 100;
  line-height: 1.2em;
  color: var(--text-color);
  background-color: var(--background-color);

  h2 {
    font-size: 1.1em;
    margin-bottom: 1.5em;
  }

  h3 {
    font-size: 0.9em;
    display: flex;
    align-items: center;

    .svg-icon, span {
      margin-right: .375rem;
    }
  }

  ol {
    padding: 0;
  }

  li, p {
    font-family: inherit;
  }

  .likes {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 1rem;

    li {
      margin-bottom: .375rem;
      // margin-left: -1rem;
      position: relative;

      img {
        border-radius: 50%;
        height: 3rem;
        -o-object-fit: cover;
        object-fit: cover;
        display: block;
        height: auto;
        max-width: 100%;
      }
    }
  }

  .comment {
    font-size: 80%;
    box-shadow: rgba(50,50,93,.25) 0px 2px 5px -1px,rgba(0,0,0,.3) 0px 1px 3px -1px;
    border-radius: 0.5rem;
    padding: 0.5rem;
    padding-bottom: 0;
    background: var(--bg-1);
    min-height: 100px;
    overflow: hidden;
    margin-bottom: 0.5em;


    div {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-between;
    }

    p {
      line-height: 1.5em;
    }

    .p-author {
      font-size: 1.3em;
      font-style: bold;
    }

    .u-url {
      font-style: italic;
      text-decoration: underline;
    }

    .u-author {
      display: flex;
      align-items: center;

      img {
        height: 2rem;
        margin-right: .625rem;
        width: 2rem;
        display: block;
        max-width: 100%;
      }
    }

  }

  form {
    input {
      flex: 1;
      border: 1px solid var(--divider-color);
      border-radius: 20px 0px 0px 20px;
      background-color: var(--input-background-color);
      color: var(--text-color);
      font-size: 1rem;
      padding-inline: 1rem 1rem;
      padding-block: .75rem;
      width: calc(60% - 2rem);
    }
    button {
      flex: 1;
      border: 1px solid var(--divider-color);
      border-radius: 0px 20px 20px 0px;
      background-color: var(--input-background-color);
      color: var(--text-color);
      font-size: 1rem;
      padding-inline: 0.7rem 0.7rem;
      padding-block: .75rem;
      width: 7rem;
    }
    button:hover {
      background-color: var(--primary-color);
      color: var(--hover-color);
      cursor: pointer;
    }
  }
}
