
{# Load the internationalisation data for the current language from
the .toml files in the user's '/i18n' folder, falling back to the theme's.
This variable will hold all the text strings for the language #}
{%- set language_strings = load_data(path="i18n/" ~ lang ~ '.toml', required=false) -%}
{%- if not language_strings -%}
    {%- set language_strings = load_data(path="themes/tabi/i18n/" ~ lang ~ ".toml", required=false) -%}
{%- endif -%}
{%- if not language_strings -%}{%- set language_strings = {} -%}{%- endif -%}
{#- Define optional contexts for templates such as 404.html that do not provide them. -#}
{%- if not page is defined -%}{%- set page = {} -%}{%- endif -%}
{%- if not section is defined -%}{%- set section = {} -%}{%- endif -%}
{%- if not term is defined -%}{%- set term = {} -%}{%- endif -%}
{%- if not taxonomy is defined -%}{%- set taxonomy = {} -%}{%- endif -%}
{%- if not paginator is defined -%}{%- set paginator = {} -%}{%- endif -%}

{%- set force_codeblock_ltr_value %}{{< evaluate_setting_priority setting="force_codeblock_ltr" default_global_value="true" />}}{% endset -%}
<!DOCTYPE html>
<html lang="{{ lang }}" {% if config.extra.default_theme -%}
    data-theme="{{config.extra.default_theme}}"
{%- endif -%}{% if force_codeblock_ltr_value | trim == "false" -%}
    data-code-direction="inherit"{% endif %}>

{% include "partials/header.html" %}

<body dir="{{ text_direction(lang=lang) }}"{% if config.extra.override_serif_with_sans %} class="use-sans-serif"{% endif %}>
    <a href="#main-content" id="skip-link">{{< translate key="skip_to_content" default="Skip to content" />}}</a>
    {% include "partials/nav.html" %}
    <div class="content" id="main-content">

        {# Post page is the default #}
        {% block main_content %}
            Nothing here?!
        {% endblock main_content %}
    </div>
    {% include "partials/footer.html" %}

    {# Users can optionally provide this template to add content to the body element. #}
    {% include "tabi/extend_body.html" %}
</body>

</html>
