{% extends "base.html" %}

{% block main_content %}
    {% if section.extra.section_path -%}
        {% set section = get_section(path=section.extra.section_path) %}
    {% endif -%}

    {{ macros_page_header::page_header(title=section.title) }}

    <main>
        {% if section.content -%}
            <div id="page-content">{{ section.content | safe }}</div>
        {% endif %}

        {%- if paginator %}
            {%- set show_pages = paginator.pages -%}
        {% else %}
            {%- set show_pages = section.pages -%}
        {% endif -%}

        {%- if macros_settings::evaluate_setting_priority(setting="enable_cards_tag_filtering", page=section, default_global_value=true) == "true" -%}
            {%- include "partials/filter_card_tags.html" -%}
        {%- endif -%}


        {%- include "partials/cards_pages.html" -%}
    </main>

    {% if paginator %}
        {%- include "partials/paginate.html" -%}
    {% endif %}
{% endblock main_content %}
