{# Template for non-articles (About Me, Privacy…) #}

{% extends "base.html" %}

{%- block main_content %}

{%- set page_or_section = section -%}
{%- if page -%}{%- set page_or_section = page -%}{%- endif -%}

{{< page_header title={page_or_section.title} />}}

<div id="page-content">
    <main>
        {# The replace pattern is used to enable arbitrary locations for the Table of Contents #}
        {# This is Philipp Oppermann's workaround: https://github.com/getzola/zola/issues/584#issuecomment-474329637 #}
        {%- set toc_html %}{{< table_of_contents page={page_or_section} header={false} />}}{% endset -%}
        {{ page_or_section.content | safe | replace(from="<!-- toc -->", to=toc_html) | safe }}
    </main>
</div>

{%- include "partials/extra_features.html" -%}

{%- endblock main_content %}
