{% extends "index.html" %}

{% block main_content %}

{{ macros_page_header::page_header(title=term.name) }}

{% set max = section.extra.max_posts | default(value=999999) %}
{{ macros_list_posts::list_posts(posts=term.pages, max=max, language_strings=language_strings) }}

<ul class="pagination">
    <li class="page-item">
        <a class="all-tags" href="{{ get_url(path="tags", lang=lang) }}/"><span class="arrow">←</span>&nbsp;{{- macros_translate::translate(key=taxonomy.name, default=taxonomy.name, language_strings=language_strings) -}}</a>
    </li>
</ul>

{% endblock main_content %}
